*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.gitignore
/app/src/main/AndroidManifest.xml
/app/src/main/java/com/lgj/myapplication/MainActivity.java
/app/src/main/java/com/lgj/myapplication/TwoActivity.java
/app/src/main/res/layout/web_layout.xml
